<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-da-Burger!</title>
	<link rel="stylesheet" href="/assets/css/burger_style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/javascript/burger_logic.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>
