<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-da-Burger!</title>
	<link rel="apple-touch-icon" href="/apple-icon-144x144.png" />
	<link rel="icon" type="image/png" href="/android-icon-144x144.png" />
	<link rel="icon" type="image/png" href="/favicon-96x96.png" />
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<link rel="stylesheet" href="/assets/css/burger_style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/javascript/burger_logic.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>
